{% extends 'registration/base.html' %}
{% load static %}




<body>


    {% block content %}

    <center>
        <h2 class="heading heading-fp">Forgot Password</h2>
    </center>




    <form class="form-container login-form mt-1 p-2" method="POST">


        <div class="form-row">

            <img class="fp-img" src="{% static "images/forgot-pwd.svg/" %}" alt="">



            <div class="row justify-content-center input-form">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <input class="form-control" type="text" name="username" placeholder="Enter Username" required><br>
                </div>


                <div class="col-6">
                    <a href="/" class="btn btn-register btn-warning btn-md mb-4"><strong><i style="color:black;" class="fa fa-backward fa-sm" aria-hidden="true"></i> BACK</strong></a>
                </div>

                <div class="col-6">
                    <input class="btn btn-register1  btn-danger btn-md mb-4 text-uppercase" type="submit">
                </div>



            </div>


            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-fp alert-dismissible alert-primary">
                <button type="button" class="close" data-dismiss="alert">
                    ×
                </button>
                <strong>{{message}}<strong>
            </div>
            {% endfor %}
            {% endif %}

        </div>

        {% csrf_token %}
    </form>



    {% endblock content %}


</body>

</html>